<header>
    <div class="grid">
        <div class="col-3 header-group">
            <div routerLink="/" class="logo">
                <img src="assets/images/logo.png" alt="LOGO" />
            </div>
        </div>
        <div class="col-4 header-group">
            <div class="search">
                <product-search></product-search>
            </div>
        </div>
        <div class="col-3 col-offset-1 header-group">
            <div class="navigation">
                <ngshop-nav></ngshop-nav>
            </div>
        </div>
        <div class="col-1 header-group">
            <div class="tool">
                <i class="pi pi-user"></i>
                <orders-cart-icon></orders-cart-icon>
            </div>
        </div>
    </div>
</header>
